{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title%}

{% block sitepass_menu %}
<ul class="submenu">
  {{ menu }}
  <li><a href="/hash/concrete5">Concrete5</a></li>
  <li><a href="/hash/cubecart">CubeCart</a></li>
  <li><a href="/hash/drupal">Drupal</a></li>
  <li><a href="/hash/joomla">Joomla</a></li>
  <li><a href="/hash/magento">Magento</a></li>
  <li><a href="/hash/oscommerce">osCommerce</a></li>
  <li><a href="/hash/zencart">Zen Cart</a></li>
  <li><a href="/hash/zenphoto">Zen Photo</a></li>
</ul>
{% endblock sitepass_menu %}

{% block content %}
<h1>{{ title }}</h1>
{% if hash %}
<div class="result">
  <dl>
    <dt>Database entry:</dt>
    <dd>{{ hash }}</dd>
  </dl>
</div>
{% endif %}
{% if error %}
<div class="error">
  <p>{{ error }}</p>
</div>
{% endif %}
<div class="password_form">
  <form action="" method="POST">
    {{ form.as_p }}
    <p><input type="submit" value="submit"></p>
  </form>
</div>
<div>
  <h2>How to use this form:</h2>
  {{ help_text|safe }}
</div>
{% endblock content %}
