import sys

# This is the directory where the server is running
ROOT = '/var/www/passwordsoup'
HOST = 'www.passwordsoup.com'

DEBUG = True
TEMPLATE_DEBUG = True

# Put your 
DEFAULT_DATABASE = {
    'ENGINE': 'django.db.backends.mysql',
    'NAME': '',
    'USER': '',
    'PASSWORD': '',
    'HOST': '',
    'PORT': '',
}

ADMINS = (
    # ('Your Name', 'user@domain.com'),
)
MANAGERS = ADMINS

SECRET_KEY = 'g18XGMk"C7]wpaN(NUR1R/FIs1O4LQ(.!XVmeZT"&$9>@mb"f)V&2V}Z&D'
