import sys

LOCAL_IMPORT_PATH = '/var/www/passwordsoup'
sys.path.insert(LOCAL_IMPORT_PATH, 0)

# This is production, so we don't want these enabled
DEBUG = False
TEMPLATE_DEBUG = False

# Put your 
DEFAULT_DATABASE = {
    'ENGINE': 'django.db.backends.mysql',
    'NAME': '',
    'USER': '',
    'PASSWORD': '',
    'HOST': '',
    'PORT': '',
}

SECRET_KEY = 'g18XGMk"C7]wpaN(NUR1R/FIs1O4LQ(.!XVmeZT"&$9>@mb"f)V&2V}Z&D'
