<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock title%}</title>
  <link rel="stylesheet" href="/style/">
</head>
<body>
<div id="page-wrapper">
  <div id="header">
    <h1><a href="/">Password Soup</a></h1>
  </div>
  <div id="sidebar">
    <ul class="menu">
      <li>Create Password Hash
        {% block sitepass_menu %}{{ menu|safe }}{% endblock sitepass_menu %}
      </li>
    </ul>
  </div>
  <div id="content">
    {% block content %}{% endblock content %}
  </div>
  <div id="footer">
    <p>This site and content &copy;2012 Intchanter</p>
  </div>
</div>
</body>
</html>
