{% extends 'base.html' %}

{% block content %}
<h2>Welcome to PasswordSoup!</h2>
<p>I'll be adding more to this site in the coming weeks in order to get it ready for public consumption.  In the meantime, feel free to look around, try to break things (errors are automatically reported), and have fun.</p>
<p>Things to expect:</p>
<ul>
  <li>Articles about passwords and related security topics, published on a weekly basis.</li>
  <li>Hash generators for more frameworks.</li>
  <li>Improvements to the look and feel.</li>
</ul>
{% endblock content %}
